<div class="modal fade" id="modal-cancel-confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="container modal-content">

            <div class="row">            
                <div class="col-12 pt-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>            
            <div class="row pt-3 pb-lg-4">
                <div class="col-12 text-center">
                    <h2>Acción Cancelar</h2>
                    <p>Estás seguro de querer cancelar <span id="cancel-name"></span> <span id="id-to-cancel"></span> ?</p>
                </div>
            </div>
            
            <div class="row p-3">
                <div class="col-6 p-0">
                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal" aria-label="Close">                        
                        Cerrar
                    </button>
                </div>
                <div class="col-6 p-0">
                    <button type="button" class="btn btn-danger btn-block" id="btn-cancel">
                        <span class="material-icons align-middle">block</span>
                        Cancelar
                    </button>
                </div>
            </div>
                        
        </div>
    </div>
</div>
