<div class="modal fade" id="modal-add-lista" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">     
            <div class="modal-header">
                <h5 class="modal-title">Agregar Nueva Lista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">

                <form id="form-new-lista">
                    <div class="row">
                        <div class="col-12">                        
                            <div class="row mb-2">
                                <div class="col-8">
                                    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                                    <input class="form-control form-control-sm" name="nombre" id ="nombrelis">                                
                                </div>  
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div class="modal-footer">            
                <button type="button" class="btn btn-success" id="btn-new-lista"><span class="material-icons align-middle">add</span>Agregar</button>
            </div>

        </div>
    </div>
</div>