.table-responsive {
    overflow-x: auto;
}

thead {
    background-color: #4f81b7 !important;
    color: white;
}

.thead {
    background-color: #4f81b7 !important;
    color: white;
}

.table-container {
    height: 280px;
    overflow-x: auto;
}

.active-client {
    color: green;
    font-weight: bold;
    text-align: center;
}

.disabled-client {
    color: rgb(15, 15, 15);
    font-weight: bold;
    text-align: center;
}

.moroso-client {
    color: rgb(109, 3, 3);
    font-weight: bold;
    text-align: center;
}
