<div class="modal fade" id="modal-detalle-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="container modal-content">
            <div class="row">            
                <div class="col-12 pt-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>            
            <div class="row pt-3 pb-lg-4" id="section-to-imprimir">         
                <div class="col-12 text-center">
                    <h4>Detalle del Rango</h4>
                </div>      
                <div class="col-12">
                    <form id="form-save-item">
                                             
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <label for="exampleFormControlInput1" class="form-label">Categoria</label>
                                        <input class="form-control form-control-sm" name="categoriae" id="categoria" >
                                        <input type="text" class="form-control form-control-sm" id="id-Code" hidden>
                                        <input type="text" class="form-control form-control-sm" id="ID" name="ID" hidden>                                        
                                    </div>
                                    <div class="col-8">
                                        <label for="exampleFormControlInput1" class="form-label">Medida</label>
                                        <input class="form-control form-control-sm" name="medidae" id="medidae">
                                    </div>
                                </div>
    
                                <div class="row mb-2">
                                    <div class="col-6">
                                        <label for="exampleFormControlInput1" class="form-label">Rango Medida 1</label>
                                        <input name="rango1" id="rango1" class="form-control form-control-sm" >
                                    </div>
                                    <div class="col-3">
                                        <label for="exampleFormControlInput1" class="form-label">Rango Medida 2</label>                            
                                        <input class="form-control form-control-sm" id="rango2" name="rango2"  >                           
                                    </div>
                                    <div class="col-2">
                                        <label for="unidad" class="form-label">Precio</label>                            
                                        <input class="form-control form-control-sm" id="precioe" name="precioe" >                           
                                    </div>
                                </div>
    
                                <hr>
    
                          
                    </form>
                </div>     
                <div class="col-12">
                    <button type="button" class="btn btn-success float-right" id="btn-save-rango">
                        <span class="material-icons align-middle">save</span>
                        Guardar
                    </button>                   
                </div> 

            </div>            
        </div>
    </div>
</div>