<div class="modal fade" id="modal-detalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="container modal-content">
            <div class="row">            
                <div class="col-12 pt-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>            
            <div class="row pt-3 pb-lg-4" id="section-to-imprimir">         
                <div class="col-12 text-center">
                    <h4>Ingresar Nuevo Rango</h4>
                </div>      
                <div class="col-12">
                    <form id="form-add-new-item">
                                             
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <label for="exampleFormControlInput1" class="form-label">Categoria</label>
                                        <input class="form-control form-control-sm" name="list-Codes" id="list-Codes" >
                                        <input type="text" class="form-control form-control-sm" id="id-Code" hidden>
                                        <input type="text" class="form-control form-control-sm" id="id-row" hidden>                                        
                                    </div>
                                    <div class="col-8">
                                        <label for="exampleFormControlInput1" class="form-label">Medida</label>
                                        <input class="form-control form-control-sm" name="descripcion-Codes" id="descripcion-Codes">
                                    </div>
                                </div>
    
                                <div class="row mb-2">
                                    <div class="col-6">
                                        <label for="exampleFormControlInput1" class="form-label">Rango Medida 1</label>
                                        <input name="list-prices" id="list-prices" class="form-control form-control-sm" >
                                    </div>
                                    <div class="col-3">
                                        <label for="exampleFormControlInput1" class="form-label">Rango Medida 2</label>                            
                                        <input class="form-control form-control-sm" id="precio-producto" name="precio"  >                           
                                    </div>
                                    <div class="col-2">
                                        <label for="unidad" class="form-label">Precio</label>                            
                                        <input class="form-control form-control-sm" id="unidad" name="unidad" >                           
                                    </div>
                                </div>
    
                                <hr>
    
                                <div class="row mb-2">
                                    <div class="col-3 largo" hidden>
                                        <label for="unidad-medida" class="form-label">Largo (mts)</label>
                                        <input class="form-control form-control-sm" id="largo" name="largo" placeholder="0" readonly>
                                    </div> 
                                    <div class="col-3 ancho" hidden>
                                        <label for="ancho" class="form-label">Ancho (in)</label>
                                        <input class="form-control form-control-sm" id="ancho" name="ancho" placeholder="0" readonly>
                                    </div>
                                    <div class="col-3 espesor" hidden>
                                        <label for="exampleFormControlInput1" class="form-label">Espesor (in)</label>
                                        <input class="form-control form-control-sm" id="espesor" name="espesor" placeholder="0" readonly>
                                    </div>
                                    <div class="col-3 variante-fija" hidden>
                                        <label for="exampleFormControlInput1" class="form-label">Variate Fija</label>
                                        <input class="form-control form-control-sm" id="variante-fija" name="variante-fija" placeholder="0" readonly>
                                    </div>                                                            
                                    <div class="col-4 diametro" hidden>
                                        <label for="exampleFormControlInput1" class="form-label">Diámetro (in)</label>
                                        <input class="form-control form-control-sm" id="diametro" name="diametro" placeholder="0" readonly>
                                    </div>
                                    <div class="col-4 diametro-externo" hidden>
                                        <label for="exampleFormControlInput1" class="form-label">Diámetro Externo (in)</label>
                                        <input class="form-control form-control-sm" id="diametro-externo" name="diametro-externo" placeholder="0" readonly>
                                    </div>
                                    <div class="col-4 diametro-interno" hidden>
                                        <label for="exampleFormControlInput1" class="form-label">Diámetro Interno (in)</label>
                                        <input class="form-control form-control-sm" id="diametro-interno" name="diametro-interno" placeholder="0" readonly>
                                    </div>
                                    <div class="col-3 placa" hidden>
                                        <label for="medida-placa" class="form-label">Medida placa</label>                            
                                        <input type="text" class="form-control form-control-sm" name="medidas-placas" id="medida-placa" readonly>
                                    </div>  
    
                                </div>                        
                          
                    </form>
                </div>     
                <div class="col-12">
                    <button type="button" class="btn btn-success float-right" id="btn-new-rango">
                        <span class="material-icons align-middle">save</span>
                        Guardar
                    </button>                   
                </div> 

            </div>            
        </div>
    </div>
</div>