<div class="modal fade" id="modal-add-client" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">     
            <div class="modal-header">
                <h5 class="modal-title">Agregar Nuevo Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">

                <form id="form-new-client">
                    <div class="row">
                        <div class="col-12">                        
                            <div class="row mb-2">
                                <div class="col-8">
                                    <label for="exampleFormControlInput1" class="form-label">Nombre Completo</label>
                                    <input class="form-control form-control-sm" name="nombre-completo">                                
                                </div>  
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Correo Electróínico</label>
                                    <input class="form-control form-control-sm" name="email-cliente" placeholder="contacto@ejemplo.com">
                                </div>                             
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Telefóno</label>                            
                                    <input class="form-control form-control-sm" name="telefono">                           
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Limite de Crédito</label>                            
                                    <input class="form-control form-control-sm" name="limite-credito">                           
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Días de Crédito</label>
                                    <select class="form-control form-control-sm" name="dias-credito"></select>                         
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Calle</label>                            
                                    <input class="form-control form-control-sm" name="calle">                           
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Colonia</label>                            
                                    <input class="form-control form-control-sm" name="colonia">                           
                                </div>
                                <div class="col-2">
                                    <label for="exampleFormControlInput1" class="form-label">Número</label>                            
                                    <input class="form-control form-control-sm" name="numero">                     
                                </div>
                                <div class="col-2">
                                    <label for="exampleFormControlInput1" class="form-label">Código Postal</label>                            
                                    <input class="form-control form-control-sm" name="codigo-postal">                           
                                </div>
                            </div>
    
                            <div class="row ">
                                <div class="col-12">
                                    <label for="exampleFormControlTextarea1">Contactos</label>
                                    <textarea class="form-control" name="contactos" rows="3"></textarea>  
                                </div>       
                            </div>  
                            <br>
                            <h5>Datos Fiscales</h5>
                            <hr>
                            
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Razón Social</label>
                                    <input class="form-control form-control-sm" name="razon-social">  
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">RFC</label>
                                    <input class="form-control form-control-sm" name="rfc">                         
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
                                    <input class="form-control form-control-sm" name="email-fiscal" placeholder="contacto@ejemplo.com">  
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Tipo de pago</label>
                                    <select class="form-control form-control-sm" name="tipo-pago"></select>             
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">CFDI</label>
                                    <select class="form-control form-control-sm" name="cfdi"></select>
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Correo Electrónico alternativo</label>
                                    <input class="form-control form-control-sm" name="email-fiscal-alternativo" placeholder="contacto@ejemplo.com">  
                                </div>
                            </div>
    
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">            
                <button type="button" class="btn btn-success" id="btn-new-client" data-toggle="modal" data-target="#modal-confirmation"><span class="material-icons align-middle">add</span>Agregar</button>
            </div>
        </div>
    </div>
</div>