<div class="modal fade" id="modal-edit-client" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">     
            <div class="modal-header">
                <h5 class="modal-title">Editar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">

                <form id="form-edit-client">
                    <div class="row">
                        <div class="col-12">                        
                            <div class="row mb-2">
                                <div class="col-8">
                                    <label for="exampleFormControlInput1" class="form-label">Nombre Completo</label>
                                    <input class="form-control form-control-sm" name="edit-nombre-completo">
                                </div>   
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Correo Electróínico</label>
                                    <input class="form-control form-control-sm" name="edit-email-cliente" placeholder="contacto@ejemplo.com">
                                </div>                             
                            </div>
    
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Telefóno</label>                            
                                    <input class="form-control form-control-sm" name="edit-telefono">                           
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Limite de Crédito</label>                            
                                    <input class="form-control form-control-sm" name="edit-limite-credito">                           
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Días de Crédito</label>
                                    <select class="form-control form-control-sm" name="edit-dias-credito"></select>                         
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Calle</label>                            
                                    <input class="form-control form-control-sm" name="edit-calle">                           
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Colonia</label>                            
                                    <input class="form-control form-control-sm" name="edit-colonia">                           
                                </div>
                                <div class="col-2">
                                    <label for="exampleFormControlInput1" class="form-label">Número</label>                            
                                    <input class="form-control form-control-sm" name="edit-numero">                     
                                </div>
                                <div class="col-2">
                                    <label for="exampleFormControlInput1" class="form-label">Código Postal</label>                            
                                    <input class="form-control form-control-sm" name="edit-codigo-postal">                           
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Agente Asignado</label>                            
                                    <input class="form-control form-control-sm" name="edit-agente" disabled>                           
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Asignar Agente</label>                            
                                    <select class="form-control form-control-sm" name="slt-agente" id="slt-agentes"></select>                         
                                </div>
                            </div>
    
                            <div class="row ">
                                <div class="col-8">
                                    <label for="exampleFormControlTextarea1">Contactos</label>
                                    <textarea class="form-control" name="edit-contactos" rows="3"></textarea>  
                                </div> 
                                <div class="col-4 text-center mt-3" id="onlyAdmin">
                                    <h3>En status <span id="status-user"></span></h3>
                                    <button type="button" class="btn btn-success" id="btn-excepcion">
                                        <span class="material-icons align-middle">done</span>
                                        Aplicar excepción
                                    </button>
                                </div>      
                            </div>  
                            <br>
                            <h5>Datos Fiscales</h5>
                            <hr>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Razón Social</label>
                                    <input class="form-control form-control-sm" name="edit-razon-social">  
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">RFC</label>
                                    <input class="form-control form-control-sm" name="edit-rfc">                         
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
                                    <input class="form-control form-control-sm" name="edit-email-fiscal" placeholder="contacto@ejemplo.com">  
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Tipo de pago</label>
                                    <select class="form-control form-control-sm" name="edit-tipo-pago"></select>                
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">CFDI</label>
                                    <select class="form-control form-control-sm" name="edit-cfdi"></select>               
                                </div>
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Correo Electrónico alternativo</label>
                                    <input class="form-control form-control-sm" name="edit-email-fiscal-alternativo" placeholder="contacto@ejemplo.com">  
                                </div>
                            </div>
    
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">            
                <button type="button" class="btn btn-warning" id="btn-save-agente" ><span class="material-icons align-middle">save</span> Cambiar Agente</button>
                <button type="button" class="btn btn-success" id="btn-edit-client" data-toggle="modal" data-target="#modal-confirmation"><span class="material-icons align-middle">save</span> Guardar cambios</button>
            </div>
        </div>
    </div>
</div>