<div class="modal fade " id="modal-estado-cuenta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="container modal-content">

            <div class="row">            
                <div class="col-12 pt-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="row pt-3 pb-4">
                <div class="col-12 text-center">
                    <h2>Estado de Cuenta</h2>
                    <p>Selecciona un Periodo</p>                    
                    <input type="hidden" value="" id="id-estado-cliente">
                </div>
            </div>

            <div class="row pt-3 pb-4">
                <div class="col-6 text-center">
                    <p>Fecha Inicial</p>                    
                    <input type="date" id="fechaI" name="FechaI">
                </div>
                <div class="col-6 text-center">
                    <p>Fecha Final</p>                    
                    <input type="date" id="fechaF" name="FechaF">
                </div>
            </div>
            <div class="row p-3">
                <!--<p name="desccuenta" id ="desccuenta"></p>-->
                <table id="list-cuenta" class="table table-hover table-dataTable table-sm" width="100%">
                    <thead>
                    <tr>
                        <th class="th-sm">Cliente</th>
                        <th class="th-sm">fecha</th>
                        <th class="th-sm">total</th>
                    </tr>
                    </thead>                            
                <tbody></tbody>
                </table>
            </div>
            <div class="row p-3">
                <div class="col-6 p-0">
                    <button type="button" class="btn btn-danger btn-block" id="btn-estado-descarga">
                        <span class="material-icons align-middle">file</span>
                        Descargar
                    </button>
                </div>
                <div class="col-6 p-0">
                    <button type="button" class="btn btn-success btn-block" id="btn-estado-download">
                        <span class="material-icons align-middle">search</span>
                        Buscar
                    </button>
                </div>
            </div>
                        
        </div>
    </div>
</div>
