<div class="modal fade" id="modal-choise" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="container modal-content">
            <div class="row">            
                <div class="col-12 pt-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>           
            <div class="row mb-5 mt-3" id="capture">
                <div class="col-12 mb-5">
                    <h2 class="text-center">Seleciona una opción</h2>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-info mb-3 btn-block" id="btn-download-c">
                        <span class="material-icons align-middle">download</span> 
                        Descargar Certificados
                    </button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-success mb-3 btn-block" id="btn-crear-c">
                        <span class="material-icons align-middle">verified_user</span> 
                        Crear certificado
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>