<div class="modal fade" id="modal-parcialidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="container modal-content">

            <div class="row">            
                <div class="col-12 pt-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>            
            <div class="row pt-3 pb-lg-4">         
                <div class="col-12 text-center">
                    <h4>Detalle Partidas</h4>
                </div>                    
                <div class="col-12 table-responsive">
                    <table id="tbl-detalle-partidas" class="table table-hover table-sm table-dataTable" width="100%">
                        <thead>
                            <tr>                                
                                <th>Clave</th>
                                <th>Cant</th>
                                <th>Cortes</th>
                                <th>Etga</th>
                                <th>Rest</th>                                
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="col-12 text-right">
                    <button type="button" class="btn btn-success" id="btn-create-parcialidad">Crear parcialidad</button>
                </div>
            </div>
            <div class="row pt-3 pb-lg-4">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h4>Parcialidades Creadas</h4>
                        </div>
                        <div class="col-12 table-responsive">
                            <table id="tbl-parcialidades" class="table table-hover table-sm table-dataTable" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>N°</th>                                    
                                        <th>Fecha</th>
                                        <th>Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>   
                    </div>
                </div>
            </div> 
            <div class="row pt-3 pb-lg-4">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h4>Detalle Parcialidad</h4>
                        </div>
                        <div class="col-12 table-responsive">
                            <table id="tbl-detalle-parcialidad" class="table table-hover table-sm table-dataTable" width="100%">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Clave</th>
                                        <th>Cant</th>
                                        <th>Etga</th>
                                        <th>Rest</th>                                        
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>      
                    </div>                                  
                </div>           
            </div>                        
        </div>
    </div>
</div>