<div class="modal fade" id="modal-datos-fiscales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">     
            <div class="modal-header">
                <h5 class="modal-title">Agregar Nuevo Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">

                <form id="form-new-client">
                    <div class="row">
                        <div class="col-12"> 
                            <h5>Datos Fiscales del emisor</h5>
                            <hr>
                            <div class="row mb-2 pb-3">
                                <div class="col-6">
                                    <label for="razon-social-emisor" class="form-label">Razón Social</label>
                                    <input class="form-control form-control-sm" name="razon-social-emisor" value="LEOPOLDO FARIAS GUTIERREZ" readonly>  
                                </div>
                                <div class="col-6">
                                    <label for="rfc-emisor" class="form-label">RFC</label>
                                    <input class="form-control form-control-sm" name="rfc-emisor" value="FAGL8909302H3" readonly>
                                </div>                                
                            </div>

                            <h5>Datos Fiscales del cliente</h5>
                            <hr>
                            
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="razon-social-receptor" class="form-label">Razón Social</label>
                                    <input class="form-control form-control-sm" name="razon-social-receptor">  
                                </div>
                                <div class="col-4">
                                    <label for="rfc-receptor" class="form-label">RFC</label>
                                    <input class="form-control form-control-sm" name="rfc-receptor">                         
                                </div>
                                <div class="col-4">
                                    <label for="email-fiscal" class="form-label">Correo Electrónico</label>
                                    <input class="form-control form-control-sm" name="email-fiscal" placeholder="Sin correo electrónico">  
                                </div>
                                
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="cfdi" class="form-label">CFDI</label>
                                    <select class="form-control form-control-sm" name="cfdi"></select>
                                </div>
                                <div class="col-5">
                                    <label for="email-fiscal-alternativo" class="form-label">Correo Electrónico alternativo</label>
                                    <input class="form-control form-control-sm" name="email-fiscal-alternativo" placeholder="Sin correo electrónico">  
                                </div>
                                <div class="col-3">
                                    <label for="cp" class="form-label">Código postal</label>
                                    <input class="form-control form-control-sm" name="cp">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="metodo-pago" class="form-label">Metodo de pago</label>
                                    <select class="form-control form-control-sm" name="metodo-pago"></select>             
                                </div>
                                <div class="col-4">
                                    <label for="forma-pago" class="form-label">Forma de pago</label>
                                    <select class="form-control form-control-sm" name="forma-pago"></select>             
                                </div>
                                <div class="col-3">
                                    <label for="tipo-moneda" class="form-label">Tipo moneda</label>
                                    <input class="form-control form-control-sm" name="tipo-moneda" value="MXN" readonly>           
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6">
                                    <label for="numero-cuenta" class="form-label">Numero cuenta</label>
                                    <input class="form-control form-control-sm" name="numero-cuenta">                                            
                                </div>
                                <div class="col-4">
                                    <label for="tipo-comprobante" class="form-label">Tipo Comprobante</label>
                                    <select class="form-control form-control-sm" name="tipo-comprobante"></select>             
                                </div>                               
                            </div>
    
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">            
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-danger btn-block" id="btn-generar-factura">
                            <span class="material-icons align-middle">file_download</span>
                            Generar Factura
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>