<div class="modal fade" id="modal-detalle-partida" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="container modal-content">
            <div class="row">            
                <div class="col-12 pt-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>            
            <div class="row pt-3 pb-lg-4" id="section-to-imprimir">         
                <div class="col-12 text-center">
                    <h4>Detalle de la partida</h4>
                </div>      
                <div class="col-12">
                    <form id="form-add-new-item">
                                             
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <label for="exampleFormControlInput1" class="form-label">Código</label>
                                        <input class="form-control form-control-sm" name="list-Codes" id="list-Codes" readonly>
                                        <input type="text" class="form-control form-control-sm" id="id-Code" hidden>
                                        <input type="text" class="form-control form-control-sm" id="id-row" hidden>                                        
                                    </div>
                                    <div class="col-8">
                                        <label for="exampleFormControlInput1" class="form-label">Descripción</label>
                                        <input class="form-control form-control-sm" name="descripcion-Codes" id="descripcion-Codes" readonly>
                                    </div>
                                </div>
    
                                <div class="row mb-2">
                                    <div class="col-6">
                                        <label for="exampleFormControlInput1" class="form-label">Lista de precios</label>
                                        <input name="list-prices" id="list-prices" class="form-control form-control-sm" readonly>
                                    </div>
                                    <div class="col-3">
                                        <label for="exampleFormControlInput1" class="form-label">Precio producto</label>                            
                                        <input class="form-control form-control-sm" id="precio-producto" name="precio" placeholder="$ 0.00" readonly>                           
                                    </div>
                                    <div class="col-3">
                                        <label for="exampleFormControlInput1" class="form-label">Precio de corte</label>                            
                                        <input class="form-control form-control-sm" id="precio-corte" name="precio-corte" placeholder="$ 0.00" readonly>                           
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <label for="unidad" class="form-label">Ud</label>                            
                                        <input class="form-control form-control-sm" id="unidad" name="unidad" readonly>                           
                                    </div>
                                    <div class="col-3">
                                        <label for="cantidad" class="form-label">Lts/Pza</label>
                                        <input class="form-control form-control-sm" id="cantidad" name="cantidad" readonly>
                                    </div>
                                    <div class="col-4">
                                        <label for="cortes" class="form-label">Cortes</label>                            
                                        <input class="form-control form-control-sm" id="cortes" name="corte" placeholder="0" readonly>                           
                                    </div>
                                    <div class="col-3">
                                        <label for="almcen" class="form-label">Almacén</label>
                                        <!--<input class="form-control form-control-sm" id="almacen" name="almacen" placeholder="0" readonly>-->
                                        <select class="form-control form-control-sm" id="almacen" name="almacen"></select>
                                    </div>
                                </div>
    
                                <hr>
    
                                <div class="row mb-2">
                                    <div class="col-3 largo" hidden>
                                        <label for="unidad-medida" class="form-label">Largo (mts)</label>
                                        <input class="form-control form-control-sm" id="largo" name="largo" placeholder="0" readonly>
                                    </div> 
                                    <div class="col-3 ancho" hidden>
                                        <label for="ancho" class="form-label">Ancho (in)</label>
                                        <input class="form-control form-control-sm" id="ancho" name="ancho" placeholder="0" readonly>
                                    </div>
                                    <div class="col-3 espesor" hidden>
                                        <label for="exampleFormControlInput1" class="form-label">Espesor (in)</label>
                                        <input class="form-control form-control-sm" id="espesor" name="espesor" placeholder="0" readonly>
                                    </div>
                                    <div class="col-3 variante-fija" hidden>
                                        <label for="exampleFormControlInput1" class="form-label">Variate Fija</label>
                                        <input class="form-control form-control-sm" id="variante-fija" name="variante-fija" placeholder="0" readonly>
                                    </div>                                                            
                                    <div class="col-4 diametro" hidden>
                                        <label for="exampleFormControlInput1" class="form-label">Diámetro (in)</label>
                                        <input class="form-control form-control-sm" id="diametro" name="diametro" placeholder="0" readonly>
                                    </div>
                                    <div class="col-4 diametro-externo" hidden>
                                        <label for="exampleFormControlInput1" class="form-label">Diámetro Externo (in)</label>
                                        <input class="form-control form-control-sm" id="diametro-externo" name="diametro-externo" placeholder="0" readonly>
                                    </div>
                                    <div class="col-4 diametro-interno" hidden>
                                        <label for="exampleFormControlInput1" class="form-label">Diámetro Interno (in)</label>
                                        <input class="form-control form-control-sm" id="diametro-interno" name="diametro-interno" placeholder="0" readonly>
                                    </div>
                                    <div class="col-3 placa" hidden>
                                        <label for="medida-placa" class="form-label">Medida placa</label>                            
                                        <input type="text" class="form-control form-control-sm" name="medidas-placas" id="medida-placa" readonly>
                                    </div>  
    
                                </div>                        
                                <section class="peso-section">
                                    <div class="row g-3 pb-3">
                                        <div class="col-4 peso-real">
                                            <label for="exampleFormControlInput1" class="form-label">Peso Real (kg)</label>
                                            <input class="form-control form-control-sm" id="peso-real" name="peso-real" value="0">  
                                        </div>
                                    
                                        <div class="col-4 peso-teorico">
                                            <label for="exampleFormControlInput1" class="form-label">Peso Teórico (kg)</label>                            
                                            <input class="form-control form-control-sm" id="peso-teorico" name="peso-teorico" value="0.00" readonly>                           
                                        </div>
                                    </div>        
                                </section>                                                                
                          
                    </form>
                </div>     
                <section class="merma-section" hidden>
                    <div class="col-12 text-center mt-4">
                        <h1>Selecciona la merma que se generará</h1>
                    </div> 
                    <div class="col-12 mb-4">

                        <div class="row card-mermas">
                            
                           
                        </div>
                        
                    </div>
                </section>            
                <div class="col-12">
                    <button type="button" class="btn btn-success float-right" id="btn-apply-p-real">
                        <span class="material-icons align-middle">check</span>
                        Aplicar peso Real
                    </button>                   
                    <button type="button" class="btn btn-info" id="btn-open-modal-certificado">
                        <span class="material-icons align-middle">picture_as_pdf</span>
                        Certificado
                    </button>
                    <button type="button" class="btn btn-info" id="btn-imprimir">
                        <span class="material-icons align-middle">picture_as_pdf</span>
                        Imprimir
                    </button>

                    <button type="button" class="btn btn-success " id="btn-almacen">
                        <span class="material-icons align-middle">save</span>
                        Guardar Almacen
                    </button>                   
                </div> 

            </div>            
        </div>
    </div>
</div>