<div class="modal fade" id="modal-create-certificado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="container modal-content">
            <div class="row">            
                <div class="col-12 pt-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>           
            <div class="row mb-5 mt-3" id="capture">
                <div class="col-12">
                    <div class="row mb-3">
                        <div class="col-4">
                            <img src="/siscontrol/assets/img/logo.png" alt="logo fargu" style="width: 100%">
                        </div>
                        <div class="col-8 ">
                            <h4>Certificado de calidad</h4>
                            <h6>Fargu Aceros Especiales</h6>
                            <br>
                            <span><b>Proveedor: Leopoldo Farías Gutiérrez</b></span>
                            <br>
                            <span><b>Domicilio: Franciosco de ayza #1043, Col. El Progreso  C.P. 44730 Zona Olimpica, Guadalajara Jalisco México</b></span>
                            <br>
                            <span><b>Teléfono: 36 43 50 63</b></span>
                            <br>
                            <span><b>RFC: FAGL8909302H3</b></span>
                            <br>
                            <span><b>Correo: iris_farias_farguaceros@hotmail.com</b></span>                
                        </div>
                    </div>
                    <div class="row  mb-4">
                        <div class="col-12">
                            <table class="table table-sm table-bordered" id="tbl-certificado">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Factura</th>
                                        <th>Medida</th>
                                        <th>Perfil</th>
                                        <th>Peso</th>
                                        <th>Pieza</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td contenteditable style="background-color: #ffffea" id="tbl-fecha"></td>
                                        <td contenteditable style="background-color: #ffffea" id="tbl-factura"></td>
                                        <td contenteditable style="background-color: #ffffea"></td>
                                        <td contenteditable style="background-color: #ffffea"></td>
                                        <td contenteditable style="background-color: #ffffea" id="tbl-peso"></td>
                                        <td contenteditable style="background-color: #ffffea" id="tbl-pieza"></td>
                                    </tr>
                                </tbody>
                                 <thead>
                                    <tr>
                                        <th colspan="3">Cliente</th>
                                        <th colspan="3">Id Cliente</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="3" contenteditable style="background-color: #ffffea" id="tbl-cliente"></td>
                                        <td colspan="3" contenteditable style="background-color: #ffffea" id="tbl-idCliente"></td>                                       
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th colspan="2">Material</th>
                                        <th colspan="2">No. de colada</th>
                                        <th colspan="2">Descricpción</th>                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2" contenteditable style="background-color: #ffffea" id="tbl-code-material"></td>
                                        <td colspan="2" contenteditable style="background-color: #ffffea"></td>
                                        <td colspan="2" contenteditable style="background-color: #ffffea" id="tbl-descripcion-material"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <h4>Composición quimica %</h4>
                        </div>
                    </div>
                    <div class="row elementos">

                        <!-- ELEMENT CARD  -->
                        <div class="col-4 mb-3">
                            <div class="shadow p-2">
                                <table class="table-bordered">
                                    <tr>
                                        <th>Elemento</th>
                                        <td contenteditable class="w-100" style="background-color: #ffffea;"></td>
                                    </tr>
                                    <tr>
                                        <th>Resultado</th>
                                        <td contenteditable class="w-100" style="background-color: #ffffea;"></td>
                                    </tr>
                                    <tr>
                                        <th>Max</th>
                                        <td contenteditable class="w-100" style="background-color: #ffffea;"></td>
                                    </tr>
                                    <tr>
                                        <th>Min</th>
                                        <td contenteditable class="w-100" style="background-color: #ffffea;"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- ELEMENT CARD  -->                                                                  

                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="/siscontrol/assets/img/firma.png" alt="firma">
                            <h6>ING. Leopoldo Farías Gutiérrez			
                            </h6>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row"> 
                <div class="col-6">
                    <button type="button" class="btn btn-info mb-3 btn-block" id="btn-add-renglon">
                        <span class="material-icons align-middle">add</span> 
                        Nuevo elemento
                    </button>
                </div>                
                <div class="col-6">
                    <button type="button" class="btn btn-success mb-3 btn-block" id="btn-crear-certificado">
                        <span class="material-icons align-middle">verified_user</span> 
                        Generar certificado
                    </button>
                </div> 
            </div>
            
        </div>
    </div>
</div>