<div class="modal fade" id="modal-pagos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="container modal-content">
            
            <div class="row pt-4 pb-4">
                <div class="col-12 text-center"><h2>Genera un pago</h2></div>
                <br>
                <div class="col-12">
                    <form id="form-pagos">
                        <div class="row mb-2">
                            <div class="col-4">
                                <label for="num-cuenta-pago" class="form-label">Num de cuenta</label>
                                <input class="form-control form-control-sm" name="num-cuenta-pago">  
                            </div>
                            <div class="col-4">
                                <label for="monto-pago" class="form-label">Monto</label>
                                <input type="text" class="form-control form-control-sm" name="monto-pago" placeholder="$ 0.00">                         
                            </div>
                            <div class="col-4">
                                <div class="mb-3 form-check">
                                    <label for="pago-forma-pago" class="form-label">Forma pago</label>                                    
                                    <select class="form-control form-control-sm" name="pago-forma-pago"></select>   
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-4">
                                <label for="pago-metodo-pago" class="form-label">Metodo pago</label>                                
                                <select class="form-control form-control-sm" name="pago-metodo-pago"></select>    
                            </div>
                            
                            
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="observacones-pago">Observaciones</label>
                                    <textarea class="form-control" name="observacones-pago" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-success" id="btn-crear-pago">Crear pago</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
            <div class="row">
                <div class="col-12">
                    <table class="table table-sm" id="table-pagos">
                        <thead>
                            <th></th>
                            <th>Id</th>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th>Forma pago</th>
                            <th>Observaciones</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>  
            <br>
            <hr>
            <div class="row">
                <div class="col-12 text-right">
                    <h4>Pendiente por pagar: <span id="cant-restante" class="text-danger"></span></h4>
                </div>
            </div>

                               
        </div>
    </div>
</div>