<div class="modal fade" id="modal-nota-credito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">     
            <div class="modal-header">
                <h5 class="modal-title">Nota de crédito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">

                
                <div class="row">
                    <div class="col-12"> 
                        <form id="form-nota-credito">
                            <div class="row mb-2 pb-3">
                                <!-- <div class="col-6">
                                    <label for="razon-social-emisor" class="form-label">Razón Social</label>
                                    <input class="form-control form-control-sm" name="razon-social-emisor" value="LEOPOLDO FARIAS GUTIERREZ" readonly>  
                                </div> -->
                                <div class="col-6">
                                    <label for="tipo-nota" class="form-label">Tipo de nota</label>
                                    <select class="form-control form-control-sm" name="tipo-nota"></select>             
                                </div>                               
                            </div>                                                                              
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table id="tbl-nota-credito" class="table table-hover table-sm table-dataTable" width="100%">
                            <thead>
                                <tr>
                                    <th></th>                                       
                                    <th>Clave</th>
                                    <th>Descripción</th>
                                    <th>Ud</th>
                                    <th>Cant</th>
                                    <th>Precio</th>
                                    <th>Importe</th>                                    
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                

            </div>
            <div class="modal-footer">            
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-info btn-block" id="btn-generar-nota">
                            <span class="material-icons align-middle">file_download</span>
                            Generar Nota
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>