textarea {
    background-color: rgb(251, 252, 216) !important;
    border: 1px solid silver !important;
    /* border-radius: 5px; */
}   

input {
    border: 1px solid #e5e5e5 !important;
    /* border-radius: 5px !important;  */
}

select {
    border: 1px solid #e5e5e5 !important;
    /* border-radius: 5px !important; */
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: .70rem;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 4px;
    text-transform: uppercase;
    color: white;
    background-color: #e02828;
    display: inline-block;
    transition-duration: 350ms;
}

.inputfile:focus + label,
.inputfile + label:hover {
    transition-duration: 350ms;
    background-color: #be2323;
    
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
