<div class="modal fade" id="modal-edit-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">     
            <div class="modal-header">
                <h5 class="modal-title">Editar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">

                <form id="form-edit-product">
                    

                    <div class="row">
                        <div class="form-group col-6">
                            <label for="id" class="form-label">Id Producto</label>
                            <input class="form-control form-control-sm" name="id" readonly>                                
                        </div>
                        <div class="form-group col-6">
                            <label for="status" class="form-label">Estatus</label>
                            <input class="form-control form-control-sm" name="status" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label for="exampleFormControlInput1" class="form-label">Código</label>
                            <input class="form-control form-control-sm" name="codigo">    
                        </div>
                        <div class="form-group col-8">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <input class="form-control form-control-sm" name="descripcion">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="unidad-p" class="form-label">Unidad Pulgadas</label>
                            <input class="form-control form-control-sm" name="unidadp" id ="unidad-p">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="medida" class="form-label">Medida</label>
                            <input class="form-control form-control-sm" name="medida">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Formula" class="form-label">Formula</label>                            
                            <select class="form-control form-control-sm" name="Formula"></select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="fdesc" class="form-label">Descripcion Formula</label>                            
                            <input class="form-control form-control-sm" name="fdesc" readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="slt-unidades" class="form-label">Unidad</label>
                            <select name="unidad" class="form-control form-control-sm" id="slt-unidades"></select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="alamcen" class="form-label">Almacén</label>
                            <select class="form-control form-control-sm" name="almacen-to-edit"></select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="stock" class="form-label">Stock</label>
                            <input class="form-control form-control-sm" name="stock">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="ClaveSAT" class="form-label">Clave Producto SAT</label>                            
                            <select class="form-control form-control-sm js-example-basic-single" name="ClaveSAT"></select>
                        </div>
                    </div>
                    <div class="row mt-3 alert alert-dark">
                        <div class="col-12">
                            <p name="descstock" id ="descstock"></p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">

                            <h3 class="mb-0">Traslados</h3>
                            <label class="mb-0">Selecciona el almacén y la cantidad que se quiere trasladar</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col-8">
                            <label for="stocks-almacen" class="form-label">Stocks</label>
                            <select class="form-control form-control-sm" name="stocks-almacen"></select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="Piezas" class="form-label">Piezas</label>
                            <input class="form-control form-control-sm" name="Piezas" placeholder="0">
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="form-group col-8">
                            <label for="nuevo-almacen" class="form-label">Nuevo Almacén</label>
                            <select class="form-control form-control-sm" name="nuevo-almacen"></select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="traslado" class="form-label">Traslado</label>
                            <input class="form-control form-control-sm" name="traslado" placeholder="0">
                        </div>                        
                    </div>

                </form>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-info float-sm-left" id="btn-traslado" disabled><span class="material-icons align-middle">save</span> Aplicar Traslado</button>
                <button type="button" class="btn btn-success" id="btn-edit-product" data-toggle="modal" data-target="#modal-confirmation"><span class="material-icons align-middle">save</span> Guardar cambios</button>
            </div>                        
        </div>
    </div>
</div>