<div class="modal fade" id="modal-info-entrada" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">     
            <div class="modal-header">
                <h5 class="modal-title">Detalles Entrada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">

                <form id="form-edit-entrada">
                    

                    <div class="row">
                        <div class="form-group col-6">
                            <label for="id" class="form-label">Id Entrada</label>
                            <input class="form-control form-control-sm" name="id" readonly>                                
                        </div>
                        <div class="form-group col-6">
                            <label for="status" class="form-label">Estatus</label>
                            <input class="form-control form-control-sm" name="status" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label for="exampleFormControlInput1" class="form-label">Código</label>
                            <input class="form-control form-control-sm" name="codigo" readonly>    
                        </div>
                        <div class="form-group col-8">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <input class="form-control form-control-sm" name="descripcion" readonly>
                        </div>
                    </div>

                                <div class="col-3 largo" hidden>
                                    <label for="exampleFormControlInput1" class="form-label">Largo 
                                        <select name="" id="unidad-medida">
                                            <option value="m">m</option>
                                            <option value="in">in</option>
                                        </select></label>                            
                                    <input class="form-control form-control-sm" id="largo" name="largo" placeholder="0">                           
                                </div> 
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="slt-unidades" class="form-label">Unidad</label>
                            <input class="form-control form-control-sm" name="unidad" id="slt-unidades" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="alamcen" class="form-label">Almacén de Ingreso</label>
                            <input class="form-control form-control-sm" name="almacen" id="alamcen" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="stock" class="form-label">Stock</label>
                            <input class="form-control form-control-sm" name="stock">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Fecha" class="form-label">Fecha</label>                            
                            <input class="form-control form-control-sm" name="Fecha" id="Fecha" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="slt-piezas" class="form-label">Piezas</label>
                            <input class="form-control form-control-sm" name="piezas" id="slt-piezas">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="largo" class="form-label">Largo 
                                <select name="" id="unidad-medidau">
                                    <option value="m">m</option>
                                    <option value="cm">cm</option>
                                    <option value="mm">mm</option>
                                    <option value="in">in</option>
                                </select></label>                            
                            <input class="form-control form-control-sm" name="largo" id="largou">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="provedor" class="form-label">Proveedor</label>
                            <input class="form-control form-control-sm" name="provedor" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="colada" class="form-label">Colada</label>                            
                            <input class="form-control form-control-sm" name="colada" id="colada" readonly>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-danger float-right" id="btn-download-cert">
                    <span class="material-icons align-middle">description</span>
                    Certificado
                </button>                   

                <button type="button" class="btn btn-success float-right" id="btn-update-entrada">
                    <span class="material-icons align-middle">save</span>
                    Guardar
                </button>                   
            </div>                        
        </div>
    </div>
</div>