<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <!-- sidebar-brand  -->
        <div class="sidebar-item sidebar-brand">
            <a href="#">Fargu Aceros Especiales</a>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-item sidebar-header d-flex flex-nowrap">
            <div class="user-pic">
                <img class="img-responsive img-rounded rounded-circle" src="/siscontrol/assets/img/img-sidebar/default-user.jpg" alt="User picture">
            </div>
            <div class="user-info">
                <span id="user-name"></span>
                <span id="user-role"></span>
                <span class="user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                </span>
            </div>
        </div>                
        <!-- sidebar-menu  -->
        <div class=" sidebar-item sidebar-menu">
            <br>
            <ul>                     
                <li class="dashboard" hidden>
                    <a href="/siscontrol/dashboard/index.php">
                        <i class="fas fa-chart-line rounded-circle"></i>
                        <span class="menu-text">Dashboard</span>                                
                    </a>
                </li>                       
                <li class="sidebar-dropdown administrativo" hidden>
                    <a href="#">
                        <i class="fas fa-desktop rounded-circle"></i>
                        <span class="menu-text">Administrativo</span>
                        <!-- <span class="badge badge-pill badge-danger">3</span> -->
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li class="nuevo-pedido" hidden>
                                <a href="/siscontrol/administrativo/nuevo pedido/index.php">Nuevo Pedido</a>
                            </li>
                            <li class="pedidos" hidden>
                                <a href="/siscontrol/administrativo/pedidos/index.php">Pedidos</a>
                            </li>
                            <li class="comprobante-nomina" hidden>
                                <a href="/siscontrol/administrativo/comprobante de nomina/index.php">Comprobante de nómina</a>
                            </li>
                            <li class="usuarios" hidden>
                                <a href="/siscontrol/administrativo/usuarios/index.php">Usuarios</a>
                            </li>
                            <li class="Listas" hidden>
                                <a href="/siscontrol/administrativo/Listas/index.php">Listas</a>
                            </li>
                            <li class="factura-publico" hidden>
                                <a href="/siscontrol/administrativo/factura global/index.php">factura publico</a>
                            </li>
                            <li class="globales" hidden>
                                <a href="/siscontrol/administrativo/globales/index.php">Historial Globales</a>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown almacen" hidden>
                    <a href="#">
                        <i class="fas fa-boxes rounded-circle"></i>
                        <span class="menu-text">Almacen</span>
                        <!-- <span class="badge badge-pill badge-danger">3</span> -->
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li class="inventario" hidden>
                                <a href="/siscontrol/almacen/inventario/index.php">Inventario</a>
                            </li>
                            <li class="crear-codigo" hidden>
                                <a href="/siscontrol/almacen/crear codigo/index.php">Crear Código</a>
                            </li>
                            <li class="registro-entrada" hidden>
                                <a href="/siscontrol/almacen/registro entradas/index.php">Registro de Entrada</a>
                            </li>
                            <li class="entradas" hidden>
                                <a href="/siscontrol/almacen/entradas/index.php">Historial Entradas</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown ventas" hidden>
                    <a href="#">
                        <i class="fas fa-store-alt rounded-circle"></i>
                        <span class="menu-text">Ventas</span>
                        <!-- <span class="badge badge-pill badge-danger">3</span> -->
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li class="tipo-cambio" hidden>
                                <a href="/siscontrol/ventas/tipo de cambio/index.php">Tipo de cambio</a>
                            </li>
                            <li class="clientes" hidden>
                                <a href="/siscontrol/ventas/clientes/index.php">Clientes</a>
                            </li>
                            <li class="calculadora-comisiones" hidden>
                                <a href="/siscontrol/ventas/calculadora comisiones/index.php">Calculadora de comisiones</a>
                            </li>
                          
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-footer  -->
    <div class="sidebar-footer">
        <div class="dropdown">

            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell"></i>
                <!-- <span class="badge badge-pill badge-warning notification">3</span> -->
            </a>
            <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage">
                <!-- <div class="notifications-header">
                    <i class="fa fa-bell"></i>
                    Notifications
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <div class="notification-content">
                        <div class="icon">
                            <i class="fas fa-check text-success border border-success"></i>
                        </div>
                        <div class="content">
                            <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. In totam explicabo</div>
                            <div class="notification-time">
                                6 minutes ago
                            </div>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item" href="#">
                    <div class="notification-content">
                        <div class="icon">
                            <i class="fas fa-exclamation text-info border border-info"></i>
                        </div>
                        <div class="content">
                            <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. In totam explicabo</div>
                            <div class="notification-time">
                                Today
                            </div>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item" href="#">
                    <div class="notification-content">
                        <div class="icon">
                            <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>
                        </div>
                        <div class="content">
                            <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. In totam explicabo</div>
                            <div class="notification-time">
                                Yesterday
                            </div>
                        </div>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center" href="#">View all notifications</a> -->
            </div>
        </div>
        <!-- <div class="dropdown">
            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <div class="dropdown-menu messages" aria-labelledby="dropdownMenuMessage">
                <div class="messages-header">
                    <i class="fa fa-envelope"></i>
                    Messages
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <div class="message-content">
                        <div class="pic">
                            <img src="/siscontrol/assets/img/img-sidebar/default-user.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="message-title">
                                <strong> Jhon doe</strong>
                            </div>
                            <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. In totam explicabo</div>
                        </div>
                    </div>

                </a>
                <a class="dropdown-item" href="#">
                    <div class="message-content">
                        <div class="pic">
                            <img src="/siscontrol/assets/img/img-sidebar/default-user.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="message-title">
                                <strong> Jhon doe</strong>
                            </div>
                            <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. In totam explicabo</div>
                        </div>
                    </div>

                </a>
                <a class="dropdown-item" href="#">
                    <div class="message-content">
                        <div class="pic">
                            <img src="/siscontrol/assets/img/img-sidebar/default-user.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="message-title">
                                <strong> Jhon doe</strong>
                            </div>
                            <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. In totam explicabo</div>
                        </div>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center" href="#">View all messages</a>

            </div>
        </div> -->
        <div>
            <a href="/siscontrol/configuracion/index.php" tilte="Configuración">
                <i class="fa fa-cog"></i>
                <!-- <span class="badge-sonar"></span> -->
            </a>
        </div>
        <div>
            <a href="#" title="log out" id="log-out">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
        <div class="pinned-footer">
            <a href="#">
                <i class="fas fa-ellipsis-h"></i>
            </a>
        </div>
    </div>
</nav>
