<div class="modal fade" id="modal-add-item" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">     
            <div class="modal-header">
                <h5 class="modal-title">Agregar nuevo producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">
                <form id="form-add-new-item">
                    <div class="row">
                        <div class="col-12">  
                                                                    
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="exampleFormControlInput1" class="form-label">Código</label>
                                    <input class="form-control form-control-sm" list="datalistCodes" id="list-Codes" autocomplete="off" placeholder="Escribe un código">
                                    <input type="text" class="form-control form-control-sm" id="id-Code" hidden>
                                    <datalist id="datalistCodes"></datalist>
                                </div>
                                <div class="col-8">
                                    <label for="exampleFormControlInput1" class="form-label">Descripción</label>
                                    <input class="form-control form-control-sm" list="datalistDescription" id="descripcion-Codes" placeholder="Escribe una descripción">
                                    <datalist id="datalistDescription"></datalist>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-6">
                                    <label for="exampleFormControlInput1" class="form-label">Lista de precios</label>
                                    <select name="" id="list-prices" class="form-control form-control-sm"></select>
                                </div>
                                <div class="col-3">
                                    <label for="exampleFormControlInput1" class="form-label">Precio producto</label>                            
                                    <input class="form-control form-control-sm" id="precio-producto" name="precio" placeholder="$ 0.00">                           
                                </div>
                                <div class="col-3">
                                    <label for="exampleFormControlInput1" class="form-label">Precio de corte</label>                            
                                    <input class="form-control form-control-sm" id="precio-corte" name="precio-corte" placeholder="$ 0.00">                           
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="unidad" class="form-label">Ud</label>                            
                                    <input class="form-control form-control-sm" id="unidad" name="unidad">                           
                                </div>
                                <div class="col-3">
                                    <label for="cantidad" class="form-label">Lts/Pza</label>
                                    <input class="form-control form-control-sm" id="cantidad" name="cantidad" value="1">
                                </div>
                                <div class="col-4">
                                    <label for="cortes" class="form-label">Cortes</label>                            
                                    <input class="form-control form-control-sm" id="cortes" name="corte" placeholder="0">                           
                                </div>
                                <div class="col-3">
                                    <label for="almcen" class="form-label">Almacén</label>                            
                                    <select class="form-control form-control-sm" id="almcen" name="almacen"></select>
                                </div>
                            </div>

                            <hr>

                            <div class="row mb-2">
                                <div class="col-3 largo" hidden>
                                    <label for="exampleFormControlInput1" class="form-label">Largo 
                                        <select name="" id="unidad-medida">
                                            <option value="mm">mm</option>
                                            <option value="cm">cm</option>
                                            <option value="m">m</option>
                                            <option value="in">in</option>
                                        </select></label>                            
                                    <input class="form-control form-control-sm" id="largo" name="largo" placeholder="0">                           
                                </div> 
                                <div class="col-3 ancho" hidden>
                                    <label for="exampleFormControlInput1" class="form-label">Ancho (in)</label>
                                    <input class="form-control form-control-sm" id="ancho" name="ancho" placeholder="0">  
                                </div>
                                <div class="col-3 espesor" hidden>
                                    <label for="exampleFormControlInput1" class="form-label">Espesor (in)</label>
                                    <input class="form-control form-control-sm" id="espesor" name="espesor" placeholder="0">  
                                </div>
                                <div class="col-3 variante-fija" hidden>
                                    <label for="exampleFormControlInput1" class="form-label">Variate Fija</label>
                                    <input class="form-control form-control-sm" id="variante-fija" name="variante-fija" placeholder="0" readonly>  
                                </div>                                                            
                                <div class="col-4 diametro" hidden>
                                    <label for="exampleFormControlInput1" class="form-label">Diámetro (in)</label>
                                    <input class="form-control form-control-sm" id="diametro" name="diametro" placeholder="0">  
                                </div>
                                <div class="col-4 diametro-externo" hidden>
                                    <label for="exampleFormControlInput1" class="form-label">Diámetro Externo (in)</label>
                                    <input class="form-control form-control-sm" id="diametro-externo" name="diametro-externo" placeholder="0">  
                                </div>
                                <div class="col-4 diametro-interno" hidden>
                                    <label for="exampleFormControlInput1" class="form-label">Diámetro Interno (in)</label>
                                    <input class="form-control form-control-sm" id="diametro-interno" name="diametro-interno" placeholder="0">  
                                </div>
                                <div class="col-3 placa" hidden>
                                    <label for="medidas-placas" class="form-label">Medida placa</label>   
                                    <select class="form-control form-control-sm" name="" id="medidas-placas"></select>
                                </div>                               
                                <div class="col-4 offset-8 peso-teorico mt-3 pb-3" hidden>
                                    <label for="exampleFormControlInput1" class="form-label">Peso Teórico (kg)</label>                            
                                    <input class="form-control form-control-sm" id="peso-teorico" name="peso-teorico" value="0.00" readonly>
                                </div>
                            </div>                        
                            <div class="row mb-4">
                                <div class="col-12 mt-3 pb-3">
                                    <label for="exampleFormControlTextarea1">Observaciones</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                        
                                                
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">            
                <button type="button" class="btn btn-success" id="add-new-partida"><span class="material-icons align-middle">add</span>Agregar</button>
            </div>
        </div>
    </div>
</div>