<div class="modal fade" id="modal-detalle-partida" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="container modal-content">
            <div class="row">            
                <div class="col-12 pt-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>            
            <div class="row pt-3 pb-lg-4">         
                <div class="col-12 text-center">
                    <h4>Detalle de la partida</h4>
                </div>                    
                <div class="col-12 table-responsive">
                    <table id="tbl-det-partida" CLASS="table table-hover table-sm table-dataTable" width="100%" >
                        <thead>
                            <tr>                                
                                <th>Clave</th>
                                <th>Cant</th>
                                <th>Cortes</th>
                                <th>Etga</th>
                                <th>Rest</th>
                                <th>P-Real</th>
                                <th>P-Teórico</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>