<div class="modal fade" id="modal-comp-nomina" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="container modal-content">

            <div class="row">            
                <div class="col-12 pt-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="row pt-3 pb-4">
                <div class="col-12 text-center">
                    <h2>Descargar nómina</h2>
                    <p>Selecciona un año, mes y un período</p>                    
                    <input type="hidden" value="" id="id-comp-empleado">
                </div>
            </div>
            <div class="row pb-4">
                <div class="col-4 text-center">
                    <h5>Año</h5>
                    <select id="select-year" class="form-control">
                    </select>
                </div>
                <div class="col-4 text-center">
                    <h5>Mes</h5>
                    <select id="select-mes" class="form-control">
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>                        
                    </select>
                </div>
                <div class="col-4 text-center">
                    <h5>Período</h5>
                    <select id="select-periodo" class="form-control">
                        <option value="A">1 al 15</option>
                        <option value="B">15 al 30</option>
                    </select>
                </div>
            </div>

            <div class="row p-3">
                <div class="col-6 p-0">
                    <button type="button" class="btn btn-secondary btn-block">                        
                        Cancelar
                    </button>
                </div>
                <div class="col-6 p-0">
                    <button type="button" class="btn btn-success btn-block" id="btn-download-file">
                        <span class="material-icons align-middle">file_download</span>
                        Descargar
                    </button>
                </div>
            </div>
                        
        </div>
    </div>
</div>
