<div class="modal fade" id="modal-add-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">     
            <div class="modal-header">
                <h5 class="modal-title">Agregar Nuevo Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">

                <form id="form-new-user">
                    <div class="row">
                        <div class="col-12">                        
                            <div class="row mb-2">                                  
                                <div class="col-12">
                                    <label for="user-name" class="form-label">Nombre Completo</label>
                                    <input class="form-control form-control-sm" name="user-name">                                
                                </div>                                                          
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="user" class="form-label">Usuario</label>                            
                                    <input class="form-control form-control-sm" name="user">                           
                                </div>
                                <div class="col-4">
                                    <label for="password" class="form-label">Password</label>                            
                                    <input class="form-control form-control-sm" name="password">                           
                                </div>
                                <div class="col-4">
                                    <label for="user-type" class="form-label">Tipo usuario</label>
                                    <select class="form-control form-control-sm" name="user-type"></select>                         
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">            
                <button type="button" class="btn btn-success" id="btn-new-user" data-toggle="modal" data-target="#modal-confirmation"><span class="material-icons align-middle">add</span>Agregar</button>
            </div>
        </div>
    </div>
</div>