<div class="modal fade" id="modal-edit-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">     
            <div class="modal-header">
                <h5 class="modal-title">Editar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">

                <form id="form-edit-user">
                    <div class="row">
                        <div class="col-12">                        
                            <div class="row mb-2">
                                <div class="col-3">
                                    <label for="edit-user-id" class="form-label">Id</label>
                                    <input class="form-control form-control-sm" name="edit-user-id" readonly>                                
                                </div>    
                                <div class="col-9">
                                    <label for="edit-user-name" class="form-label">Nombre Completo</label>
                                    <input class="form-control form-control-sm" name="edit-user-name">                                
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="edit-user" class="form-label">Usuario</label>                            
                                    <input class="form-control form-control-sm" name="edit-user">                           
                                </div>
                                <div class="col-4 form-inline">
                                    <label for="edit-password" class="form-label">Password</label>                            
                                    <input type="password" class="form-control form-control-sm" name="edit-password"> 
                                    <span class="material-icons pl-2" title="ver password" id="btn-see-password" style="cursor: pointer;">visibility</span>                          
                                </div>
                                <div class="col-4">
                                    <label for="edit-user-type" class="form-label">Tipo usuario</label>
                                    <select class="form-control form-control-sm" name="edit-user-type"></select>                  
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">            
                <button type="button" class="btn btn-success" id="btn-edit-user" data-toggle="modal" data-target="#modal-confirmation"><span class="material-icons align-middle">save</span> Guardar cambios</button>
            </div>
        </div>
    </div>
</div>