<footer>
    
    <!-- JQuery v3.5.1  || Pooper || Bootstrap v4.6.0 -->
    <script src="/siscontrol/assets/js/core/jquery.min.js"></script>
    <script src="/siscontrol/assets/js/core/popper.min.js"></script>
    <script src="/siscontrol/assets/js/core/bootstrap.min.js"></script>
    <script src="/siscontrol/assets/js/core/bootstrap-notify.js"></script> 

    <!-- Classes JS -->
    <script src="/siscontrol/assets/js/classes/message.js"></script>
    <script src="/siscontrol/assets/js/classes/userSession.js"></script>
    <script src="/siscontrol/assets/js/getInfoUser.js"></script>  


     <!-- PRO Sidebar scripts -->
     <!-- <script src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> -->
     <script src="/siscontrol/assets/js/plugins/mCustomScrollbar.min.js"></script>
     <script src="/siscontrol/sidebar/js/main.js"></script>
 
     <!-- Pluggins scripts -->  
     <script src="/siscontrol/assets/js/plugins/dataTables.js"></script>
     <script src="/siscontrol/assets/js/plugins/moment/moment.min.js"></script>
     <script src="/siscontrol/assets/js/plugins/moment/locale/es-mx.js"></script>
     <script src="/siscontrol/assets/js/plugins/chart/charts.js"></script>
     <script src="/siscontrol/assets/js/plugins/html2canvas.min.js"></script>     
    
</footer>